#system
.DS_Store

# eclipse
bin/
*.launch
.settings
.metadata
.classpath
.project

# idea
out/
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/

# other
eclipse/
output/
libs/
classes/

#vscode
.vscode

# Files from Forge MDK
forge*changelog.txt

# generated resources
**/src/generated/

# minecraft
run/
logs/
