# system
.DS_Store

# eclipse
bin/
*.launch
.settings
.metadata
.classpath
.project

# idea
out/
*.ipr
*.iws
*.iml
.idea/

#vscode
.vscode

# gradle
build/
.gradle/

# other
eclipse/
run/
logs/
output/
libs/
classes/

# generated resources
**/src/generated/resources/.cache/
